body{
  background: #EAf6f6;
}
* {
  box-sizing: border-box;
}

/* base style  */
h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
  margin:  0;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
}

img {
  width: 100%;
}

hr {
  margin-bottom: 20px;
  color: #000;
}

/* layout container */
.container {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

/* navigation style */
.name a {
  font-size: 1.8em;
  display: inline-block;
  padding: 0.5em 0;
}

.main-nav a {
  display: inline-block;
  padding: 10px 15px;
}

.main-nav li {
  margin-right: 5px;
}

.navigation {
  padding: 2em 0 1em;
}


.main-nav li {
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Header styles  */
.main-header {
  text-align: center;
  padding-bottom: 1em;
  /* background-color: red; */
}

.main-header li {
  background: #7599f7;
  border-radius: 30px;
}

.main-header li :hover {
  background: #00ff00;
  border-radius: 30px;
}

.name {
  margin: 0;
}

.intro {
  padding: 3.125em 0;
}

.title {
  margin: 0;
  font-size: 2em;
  padding: 1.6em 0 1em;
}

.interest-examples {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
}

a:link, a:visited {
  color: #0F394E;
}

.main-nav {
  list-style-type: none;
  margin: 0 1em;
}

/* content styles */
.examples {
  margin-bottom: 10%;
}

figcaption {
  padding-top: 5%;
}

.pf-pic {
  border-radius: 10%;
}

.email {
  padding-bottom: 2em;
}

/* footer style */
.main-footer {
  background-image: linear-gradient(to bottom right, red, yellow);
  padding: 2em 1em;
}

.footer-name {
  color: #0F394E;
  float: left;
}

.footer-link {
  float: right;
}

.footer-name,
.footer-link {
  display: inline-block;
}

.bottom-nav {
  display: none;
}

/* clearfix */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.portfolio-work{
  width: 100%;
  background: #EDEDED;
}

/* media queries */
@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    /* max-width: 1000px; will change it later */
  }

  .footer-link {
    display: none;
  }

  .main-nav,
  .main-nav li {
    display: inline-block;
    text-align: center;
  }

  .pf-pic {
    width: 300px;
    float: right;
    margin-left: 0.5em;
  }

  .examples{
    width: calc(100%/2);
    float: left;
    padding: 0 0.3em;

  }

  .port-text {
    margin: 0 20px;
  }

  .video-game {
    float: right;
    margin-left: 5px;
  }

  .football {
    float: left;
  }

  .football img {
    width: 250px;
    margin-right: 10px;
    margin-top: 15px;
  }

  .video-game img {
    width: 250px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .interest-examples {
    padding: 20px 0;
  }

  .title {
    padding: 1em 0 0.5em;
  }

  .bottom-nav {
    display: inline-block;
  }

  .bottom-nav {
    float: right;
  }

  .footer-nav li {
    float: left;
    margin: 0 5px;
  }

  .bottom-nav a:hover{
    color: #00F900;
  }
}
@media (min-width: 1024px) {
  .container{
    padding: 0;
    width: 90%;

  }
  .name{
    float: left;
  }
  .navigation,
  .main-nav{
    float: right;
  }
  .name{

    font-size: 1em;
  }

  .name a,
  .navigation{
    display: inline-block;
    padding: 0.9em 0;
  }
  .examples{
    width: calc(100%/3);
  }



}
